<h2>My Heroes</h2>
<div>
  <label for="new-hero">Hero name: </label>
  <input type="text" id="new-hero" #heroName />

  <!-- (click) 이벤트를 감지하면 현재 값을 인자로 전달하면서 add() 함수를 실행하고, 입력필드를 비운다. -->
  <button class="add-button" (click)="add(heroName.value); heroName.value = ''">
    Add hero
  </button>
</div>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{ hero.id }}">
      <span class="badge">{{ hero.id }}</span>
      {{ hero.name }}
    </a>
    <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
  </li>
</ul>
